.italic
{
	font-style:italic;
}
.oblique
{
	font-style:oblique;
}
.normal
{
	font-style:normal;
}
.small-caps
{
	font-variant:small-caps;
}
.normal
{
	font-variant:normal;
}
.lighter
{
	font-weight:lighter;
}
.bold
{
	font-weight:bold;
}
.bolder
{
	font-weight:bolder;
}
.300
{
	font-weight:300;
}
